/*Variablen/Farbmodi*/
:root {
  --helleHauptfarbe: #3b3b3b;
  --hellerAkzent: #adacac;
  --dunklerAkzent: rgb(37, 37, 37);
  --intensiverAkzent: #adacac;
  --selectedFokus: rgb(132, 132, 132);
  --kalenderHintergrund: rgba(73, 73, 73, 0.8);
  --kalenderToday: #adacac;
  --kalenderSelected: rgba(103, 103, 103, 0.7);
  --inputColor: #5d5d5d;
  --helleSchriftfarbe: white;
  --dunkleSchriftFarbe: #a6a6a6;
  --navbar: #adacac;
  --buttonbackground: #adacac;
  --today-Schriftfarbe: black;



  --schatten: 0 8px 16px 0 rgba(0,0,0,0.2);
  --hintergrundFarbe: rgb(37, 37, 37);
  --contentPanelFarbe:  #3b3b3b;
  --akzentFarbe:  #adacac;
  --akzentHover: #969696;
  --akzentSelected: #7f7f7f;
  --contentElementFarbe: rgba(73, 73, 73, 0.8);
  --contentElementHover: rgba(103, 103, 103, 0.7);
  --schriftAufAkzent: black;
  --schriftDefault: white;
}
/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content a {
  color: var(--schriftDefault);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 2.5vh;
}
.dropdown-content a:hover {
  background-color: var(--contentElementHover);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--contentElementFarbe);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* navigation menu */

.navigationMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 1vh;
  display: inline;
  background-color:var(--akzentFarbe);
  font-size: 25px;
  box-shadow: var(--schatten);
  color: var(--schriftAufAkzent);
}
.navigationMenu td {
  width: 33.33333vw;
}
.navigationMenu .right td {
  width: fit-content;
  padding: 5px;
}

.navigationMenu .right {
  float: right;
}
.navigationMenu .left {
  text-align: left;
}

.navigationMenu .banner {
  text-align: center;
}
.navigationMenu input:hover {
  background: var(--akzentHover);
  border-radius: 10px;
  font-size: 2vh;
}

/* body */
label{
  color: var(--schriftDefault);
}
.right {
  float:right;
}
.left{
  float:left;
}
body {
  background-color: var(--hintergrundFarbe);
  font-family: 'Arial', sans-serif;
  font-size: 2.5vh;
  color: var(--schriftDefault);
}

/* content, used for texts, profiles */
.content {
  margin: 5vh 5vh 0;
  padding: 0px 40px 20px;
  background-color: var(--contentPanelFarbe);
  border-radius: 25px;
  overflow: hidden;
}
.content h1 {
  color: var(--akzentFarbe);
  font-size: 5vh;
}
.content td {
  vertical-align: top;
}

.content .chicken-list {
  width: 100%;
}

.content img {
  max-width: 500px;
  min-width: 40px;
  width: auto;
  height: auto;
  border-radius: 25px;
  float: right;
  margin: 25px;
}

/* forms */
.content select {
  border: 2px solid var(--akzentFarbe);
  border-radius: 10px;
  font-size: 2.5vh;
  margin-left: 10px;
  background-color: var(--contentElementFarbe);
  color: var(--schriftDefault);
  width: 100%;
}
.content select:focus {
  outline: var(--akzentHover);
}
.content button {
  background-color: var(--akzentFarbe);
  color: var(--schriftAufAkzent);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 2vh;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}
.content button:hover {
  background: var(--akzentHover);
}
.content input[type=image]:hover {
  background: var(--contentElementHover);
  border-radius: 10px;
  font-size: 2vh;
}
.content select {
  border: 2px solid var(--akzentFarbe);
  border-radius: 10px;
  font-size: 2.5vh;
  margin-left: 10px;
  color: var(--schriftAufAkzent);
  width: 100%;
  background-color: var(--contentElementFarbe);
}
.content input[type=text] {
  border: 2px solid var(--akzentFarbe);
  background-color: var(--contentElementFarbe);
  border-radius: 10px;
  font-size: 2.5vh;
  margin-left: 10px;
  color: var(--schriftDefault);
  width: 100%;
}
.content input[type=text]:focus {
  outline: var(--akzentHover);
}
.content input[type=date]{
  border: 2px solid var(--akzentFarbe);
  border-radius: 10px;
  background-color: var(--contentElementFarbe);
  font-size: 2.5vh;
  margin-left: 10px;
  color: var(--schriftDefault);
  width: 100%;
}
.content input[type=date]:focus {
  outline: var(--akzentHover);

}
.content input[type="number"]{
  background-color: var(--contentElementFarbe);
  border: 2px solid var(--akzentFarbe);
  border-radius: 10px;
  font-size: 2.5vh;
  margin-left: 10px;
  color: var(--schriftDefault);
  width: 100%;
}
.content input[type="number"]:focus {
  outline: var(--akzentHover);
}
.content input[type=file]{
  font-size: 2.5vh;
  margin-left: 10px;
  color: var(--schriftDefault);
background-color: var(--contentElementFarbe);
}

.content label {
  font-size: 2.5vh;
  color: var(--akzentFarbe);
}

form > *{
  display:flex;
  justify-content: center;
  align-items: center;
}

/* searchbar */
.content input[type="search"]{
  background-color: var(--contentElementFarbe);
  background-image: url('icons/search.svg');
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px solid var(--akzentFarbe);
  border-radius: 10px;
  font-size: 20px;
  color: var(--schriftDefault);
  width: 100%;
  padding: 5px;
}
.content input[type="search"]:focus {
  outline: var(--akzentHover);
}
.content input[type="search"]:not(:placeholder-shown) {
  background-image: none;
}

/* filter-box */
.filter-box {
  width:auto;
}
.filter-box td{
  width: 100px;
  height: 50px;
  padding-top: 1vw;
  padding-right: 2vw;
}
.filter-box td input{
  border: 2px solid var(--akzentFarbe);
  padding:10vw;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100px;
  background-color: var(--akzentFarbe);
  border-radius: 1vw;
  font-size: 13px;
  text-align: center;
  color:var(--schriftAufAkzent);
  padding:0.5vw;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--akzentHover);
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--akzentSelected);
}

/* calendar */
.calendar-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  width:100%;
}
.table-day {
  width: auto;
  height: 100px;
  text-align: center;
  background-color: var(--contentElementFarbe);
  border-radius: 10px;
  padding: 1vw;
  margin:5px;
  color: var(--schriftDefault);
  cursor: pointer;
  overflow-y: auto;
}
.table-day-today {
  width: auto;
  height: 100px;
  text-align: center;
  background-color: var(--akzentFarbe);
  border-radius: 10px;
  padding: 1vw;
  margin:5px;
  color: var(--schriftAufAkzent);
  cursor: pointer;
  overflow-y: auto;
}
.calender-day {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: var(--contentElementFarbe);
  border-radius: 10px;
  padding: 1vw;
  margin:5px;
  color: var(--schriftDefault);
  cursor: pointer;
  overflow-y: auto;
}
.calender-day-today {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: var(--akzentFarbe);
  border-radius: 10px;
  padding: 1vw;
  margin:5px;
  color: var(--schriftAufAkzent);
  cursor: pointer;
  overflow-y: auto;
}
.calender-day:hover {
  background-color: var(--contentElementHover);
}
.calender-day-today:hover{
  background-color: var(--akzentHover);
}
.event {
  height:20px;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 5px;
  width:100%;
  background-color: blueviolet;
  color: white;
}
.kalenderleiste {
  color: var(--schriftAufAkzent);
  display: flex;
  align-items: center;
  background-color: var(--akzentFarbe);
  border-radius: 15px;
  padding: 5px;
}
/** dialog */
dialog {
  background-color: var(--contentPanelFarbe);
  border-radius: 25px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  box-shadow: var(--schatten);
  border: 2px solid var(--hintergrundFarbe);
  z-index: 1000;
}

dialog[open] ~ * {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}
